<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title center>
      UserLocal
    </ion-title>
    <ion-button slot="end" class="button">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="back-global" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">UserLocal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="useMap" #map></div>
      
  </div>
</ion-content>
