<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title center>
      APPKAM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back-global" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">APPKAM</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-fab class="buttonKam" vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
